body {
    margin: 0;
}

.container {
    font-family: 'Nunito', sans-serif;
    width: 90%;
    margin: auto;
}

.movie,
.cast {
    float: left;
}

.movie {
    border: solid 1px black;
    width: 44.5%;
    border-radius: 5%;
    padding: 20px;
    margin: 10px;
}

.cast {
    margin-right: 20px;
    font-weight: 0.8em;
}

.cast img {
    border-radius: 50%;
    width: 100px;
}

#search,
#stat {
    border: solid 1px black;
    width: 85%;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}